* {
  margin: 0;
  padding: 0;
}

.cabecalho {
  padding: 15px 25px;
  display: flex;
}

.cartao {
  width: 260px;
  height: 200px;
}

.cartao-imagem {
  width: 100%;
}


body {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
background-color: rpg(158,255, 255 )

main [ 
      flex: 1 

      ]



    footer [
      background - color: aliceblue;
      pa
    ]
